<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- Better safe than sorry - all scripts and stylesheets we might use with bootstrap are here -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" />
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    </div>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" th:href="@{/}"><img th:src="@{/images/logo_small.PNG}"/></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbarNavDropdown" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        Tilbud
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/}">Opret tilbud til ny kunde</a>
                        <a class="dropdown-item" th:href="@{/}">Opret tilbud med skabelon</a>
                        <a class="dropdown-item" th:href="@{/}">Hent gemt skabelon</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/products}">Produktoversigt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Udsendte tilbud</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Statistik</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Log ud</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>