<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PLMedia</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="container-fluid">
<div th:replace="fragments/header :: header"/>
<div class="row justify-content-md-center">
    <img th:src="@{/images/logo.PNG}"/>
</div>
<div class="row justify-content-md-center">
    <p>Velkommen til PLMedia's tilbudsapplikation</p>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1">
    </div>
</div>
</body>
</html>