<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PLMedia</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="container-fluid">
<div th:replace="fragments/header :: header"/>
<div class="form-row col-md-12 justify-content-center">
    <form class="form-inline">
        <div class="form-group">
            <select id="search" class="form-control">
                <option selected>Søgekriterie:</option>
                <option>CVR-nr</option>
                <option>Firmanavn</option>
                <option>E-mail</option>
            </select>
        </div>
        <button type="submit" class="btn sent-prop-btn">Søg</button>
    </form>
</div>
<br>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Firmanavn</th>
                    <th scope="col">CVR-nr</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>PLMedia</td>
                    <td>38388754</td>
                    <td><a th:href="@{/#}">Detaljer</a></td>
                    <td><a th:href="@{/#}">Vis i Editor</a></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Tobias' Swingerklub</td>
                    <td>69696969</td>
                    <td><a th:href="@{/#}">Detaljer</a></td>
                    <td><a th:href="@{/#}">Vis i Editor</a></td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>KEA</td>
                    <td>666</td>
                    <td><a th:href="@{/#}">Detaljer</a></td>
                    <td><a th:href="@{/#}">Vis i Editor</a></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</body>
</html>