<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PLMedia</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="container-fluid">
<div th:replace="fragments/header :: header"/>
<div class="form-row col-md-12 justify-content-center">
    <form th:action="@{/sentproposals}" class="form-inline" method="post">
        <div class="form-group">
            <select id="searchtype" name="searchtype" class="form-control">
                <option selected th:name="search" th:value="search">Søgekriterie</option>
                <option th:name="cvr" th:value="cvr">CVR-nr</option>
                <option th:name="companyname" th:value="companyname">Firmanavn</option>
                <option th:name="email" th:value="email">E-mail</option>
            </select>
            <input class="form-control" id="searchfield" name="searchfield" type="text">
        </div>
        <button type="submit" class="btn sent-prop-btn">Søg</button>
    </form>
</div>
<br>
<div class="row">
    <div class="col-md-10 offset-md-1">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Firmanavn</th>
                    <th scope="col">Afsendt d.</th>
                    <th scope="col">Accepteret d.</th>
                    <th scope="col" style="width: 100px"></th>
                    <th scope="col" style="width: 100px"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p: ${sentProposals}">
                    <td th:text="${p.id}"/>
                    <td th:text="${p.customer}"/>
                    <td th:text="${p.sendDate}"/>
                    <td th:text="${p.acceptDate}"/>
                    <td><a th:href="@{/proposaldetails(proposalId=${p.id})}">Detaljer</a></td>
                    <td><a th:href="@{/#}">Vis i Editor</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>