<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>PLMedia</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body class="container-fluid">
<div th:replace="fragments/header :: header"/>

<div class="row justify-content-md-center">
    <p>Udvalgte statistikker omkring fremsendte tilbud</p>
</div>
<div class="row">
    <div class="col-md-10 offset-md-1">

        <p>Acceptance kriterier:
        <dl>Virksomheden skal kunne se hvor mange har åbnet mail med tilbud</dl>
        <dl>Virksomheden skal kunne se hvor mange % har accepteret tilbud af de afsendte tilbud</dl>
        <dl>Virksomheden skal kunne se hvor mange tilbud der er blevet udsendt i en given periode og kunne sammenligne det med en anden periode</dl>
        <dl>Virksomheden skal kunne se statistikkerne visuelt via grafer</dl>
        <dl>Virksomheden skal kunne se tilbud i forskellige kategorier efter virksomhedstype</dl></p>


    </div>
</div>
</body>
</html>